<div class="footer-area">
    <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#e5ddcc">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="widget-item">
                        <div class="footer-logo pb-4">
                            <a href="index.html">
                                <img src="~/assets/images/logo/logo.png" alt="Logo">
                            </a>
                        </div>
                        <p class="short-desc mb-2">Chúng tôi luôn muốn đem lại giá trị tốt nhất cho bạn và mọi người, hãy là người tiêu dùng thông minh!</p>
                        <div class="widget-contact-info pb-6">
                            <ul>
                                <li>
                                    <a href="https://maps.app.goo.gl/REhEE3FRazh7aiuq8" target="_blank">
                                        <i class="pe-7s-map-marker"></i>
                                        Địa chỉ: Cổng làng Hương, Hương Ngải, Thạch Thất, Hà Nội
                                    </a>

                                </li>
                                <li>
                                    <i class="pe-7s-mail"></i>
                                    <a href="mailto://info@example.com">phimanhh85@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Tài khoản của tôi</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">Tài khoản của tôi</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Lịch sử mua hàng</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Điều khoản sử dụng</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Các câu hỏi thường gặp</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>