@using webBanThucPham.Models.Momo
@model MomoExecuteResponseModel
@{
    ViewData["title"] = "Kết quả thanh toán thành công";

}
<h5>Thanh toán MOMO thành công với:</h5>
<h6>OrderId : @Model.OrderId</h6>
<h6>Tổng tiền: @Model.Amount</h6>
<h5>Xem <a asp-controller="Account" asp-action="History">Lịch sử đơn hàng đã đặt</a></h5>
