@model webBanThucPham.Models.Role

@{
    ViewData["Title"] = "Thông tin chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h1 class="mb-4">Chi Tiết Vai Trò</h1>
<hr />
<div class="card shadow-lg p-4">
    <h4 class="text-primary">Thông Tin Vai Trò</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 fw-bold">Tên Vai Trò</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.RoleName)</dd>

        <dt class="col-sm-3 fw-bold">Mô Tả</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>
    </dl>
</div>

<div class="mt-4 d-flex justify-content-center">
    <a asp-action="Edit" asp-route-id="@Model?.RoleId" class="btn btn-primary me-2">
        <i class="bi bi-pencil-square"></i> Chỉnh Sửa
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Quay Lại Danh Sách
    </a>
</div>
